{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новсоти</h1>

{% if is_not_subscriber %}
    <p class ="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}

<a href="http://127.0.0.1:8000/news/search/">Поиск новостей</a>



<!--{% for post in category_news_list %}-->
<!--    <li class="list-group-item">-->
<!--        <small>(заголовок: {{ post.title| censor }})</small>-->
<!--        <small class="fw-bold"> категории:-->
<!--            {% for postCategory in post.postCategory.all %}-->
<!--                    {{postCategory}}-->
<!--            {% endfor %}-->
<!--            </small>-->
<!--        <p>{{ post.text|truncatechars:20 |censor }}</p>-->
<!--    </li>-->
<!--{% endfor %}-->


   <hr>

       <table>
           <tr>
               <td>Заголовок</td>
               <td>Категория</td>
               <td>Описание</td>
               <td>Дата</td>

               {% if perms.news.post_update or perms.news.post_delete %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for post in category_news_list %}
           <tr>
<!--               <td>{{ post.title| censor }}</td>-->
               <td><a href="{% url 'post_detail' post.id %}">{{ post.title| censor }}</a></td>
                <td>
                    {% for postCategory in post.postCategory.all %}
                    <a href="{% url 'category_list' postCategory.id %}">{{postCategory}}</a>
                    {% endfor %}
                </td>
               <td>{{ post.text|truncatechars:20 |censor }}</td>
               <td>{{ post.dateCreation }}</td>


           </tr>
           {% endfor %}

       </table>


   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}


   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}