{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
News
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>

{% endif %}
   <h1>Все новсоти</h1>

<a href="http://127.0.0.1:8000/news/search/">Поиск новостей</a>
<!--   <form action="" method="get">-->

<!--       {{ filterset.form.as_p }}-->

<!--       <input type="submit" value="Найти" />-->


<!--   </form>-->
{% if is_not_subscriber %}
    <p class ="text-center"><a href="{}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}

    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить новость</a>
    {% endif %}


   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Категория</td>
               <td>Описание</td>
               <td>Дата</td>

               {% if perms.news.post_update or perms.news.post_delete %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for post in posts %}
           <tr>
<!--               <td>{{ post.title| censor }}</td>-->
               <td><a href="{% url 'post_detail' post.id %}">{{ post.title| censor }}</a></td>
                <td>
                    {% for postCategory in post.postCategory.all %}
                    <a href="{% url 'category_list' postCategory.id %}">{{postCategory}}</a>
                    {% endfor %}
                </td>
               <td>{{ post.text|truncatechars:20 |censor }}</td>
               <td>{{ post.dateCreation }}</td>

               <td>

                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
               </td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}


   {{ page_obj.number }}


   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}